version: '3'
services:
  php-cli:
    image: erema/php-cli:latest
    volumes:
    - ./:/var/www/html
    working_dir: /var/www/html
    tty: true
    ports:
      - 8080:8080
    args:
      INSTALL_XDEBUG: true
    environment:
      PHP_IDE_CONFIG: serverName=roadrunner
      XDEBUG_CONFIG: remote_host=192.168.0.105
  postgres:
    image: postgres:12.2
    environment:
      POSTGRES_USER: mingamez
      POSTGRES_DB: mingamez
      POSTGRES_PASSWORD: 123
    ports:
    - 5432:5432
    volumes:
    - mingamez-pgsql-data:/var/lib/postgresql/data
  mailhog:
    image: mailhog/mailhog:latest
    ports:
      - "8025:8025"
  redis:
      image: redis:6.0
      command: redis-server --requirepass 123

volumes:
  mingamez-pgsql-data:
    driver: local
